<% if notice %>
  <%= notice %>
<% end %>
<% if alert %>
  <%= alert %>
<% end %>

<% flash.each do |type, msg| %>
  <div class="alert alert-<%= type.to_s == 'notice' ? 'success' : 'danger' %>">
    <%= content_tag :div, msg %>
  </div>
<% end %>
